<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>.null</key>
		<string>_null.glif</string>
		<key>A.001</key>
		<string>A_.001.glif</string>
		<key>A.002</key>
		<string>A_.002.glif</string>
		<key>A.003</key>
		<string>A_.003.glif</string>
		<key>CR</key>
		<string>C_R_.glif</string>
		<key>ZWJ</key>
		<string>Z_W_J_.glif</string>
		<key>ZWNJ</key>
		<string>Z_W_N_J_.glif</string>
		<key>_569</key>
		<string>_569.glif</string>
		<key>_571</key>
		<string>_571.glif</string>
		<key>_572</key>
		<string>_572.glif</string>
		<key>_574</key>
		<string>_574.glif</string>
		<key>_575</key>
		<string>_575.glif</string>
		<key>_578</key>
		<string>_578.glif</string>
		<key>_579</key>
		<string>_579.glif</string>
		<key>_580</key>
		<string>_580.glif</string>
		<key>_582</key>
		<string>_582.glif</string>
		<key>_583</key>
		<string>_583.glif</string>
		<key>_593</key>
		<string>_593.glif</string>
		<key>_595</key>
		<string>_595.glif</string>
		<key>_597</key>
		<string>_597.glif</string>
		<key>_598</key>
		<string>_598.glif</string>
		<key>_600</key>
		<string>_600.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>bn_a</key>
		<string>bn_a.glif</string>
		<key>bn_aa</key>
		<string>bn_aa.glif</string>
		<key>bn_aakaar</key>
		<string>bn_aakaar.glif</string>
		<key>bn_ai</key>
		<string>bn_ai.glif</string>
		<key>bn_aikaar</key>
		<string>bn_aikaar.glif</string>
		<key>bn_anusvara</key>
		<string>bn_anusvara.glif</string>
		<key>bn_asamib_hasanta</key>
		<string>bn_asamib_hasanta.glif</string>
		<key>bn_asamib_r_ukaar</key>
		<string>bn_asamib_r_ukaar.glif</string>
		<key>bn_asamib_r_uukaar</key>
		<string>bn_asamib_r_uukaar.glif</string>
		<key>bn_asamib_ra</key>
		<string>bn_asamib_ra.glif</string>
		<key>bn_asamib_ukaar</key>
		<string>bn_asamib_ukaar.glif</string>
		<key>bn_asamib_uukaar</key>
		<string>bn_asamib_uukaar.glif</string>
		<key>bn_asamiba</key>
		<string>bn_asamiba.glif</string>
		<key>bn_asamir_hasanta</key>
		<string>bn_asamir_hasanta.glif</string>
		<key>bn_asamir_ra</key>
		<string>bn_asamir_ra.glif</string>
		<key>bn_asamir_ukaar</key>
		<string>bn_asamir_ukaar.glif</string>
		<key>bn_asamir_uukaar</key>
		<string>bn_asamir_uukaar.glif</string>
		<key>bn_asamira</key>
		<string>bn_asamira.glif</string>
		<key>bn_au</key>
		<string>bn_au.glif</string>
		<key>bn_aukaar</key>
		<string>bn_aukaar.glif</string>
		<key>bn_aumark</key>
		<string>bn_aumark.glif</string>
		<key>bn_avagraha</key>
		<string>bn_avagraha.glif</string>
		<key>bn_b_ba</key>
		<string>bn_b_ba.glif</string>
		<key>bn_b_bha</key>
		<string>bn_b_bha.glif</string>
		<key>bn_b_d_ra</key>
		<string>bn_b_d_ra.glif</string>
		<key>bn_b_da</key>
		<string>bn_b_da.glif</string>
		<key>bn_b_dha</key>
		<string>bn_b_dha.glif</string>
		<key>bn_b_hasanta</key>
		<string>bn_b_hasanta.glif</string>
		<key>bn_b_ja</key>
		<string>bn_b_ja.glif</string>
		<key>bn_b_l_ukaar</key>
		<string>bn_b_l_ukaar.glif</string>
		<key>bn_b_l_uukaar</key>
		<string>bn_b_l_uukaar.glif</string>
		<key>bn_b_la</key>
		<string>bn_b_la.glif</string>
		<key>bn_b_na</key>
		<string>bn_b_na.glif</string>
		<key>bn_b_r_ukaar</key>
		<string>bn_b_r_ukaar.glif</string>
		<key>bn_b_r_uukaar</key>
		<string>bn_b_r_uukaar.glif</string>
		<key>bn_b_ra</key>
		<string>bn_b_ra.glif</string>
		<key>bn_ba</key>
		<string>bn_ba.glif</string>
		<key>bn_baphala</key>
		<string>bn_baphala.glif</string>
		<key>bn_baphala1</key>
		<string>bn_baphala1.glif</string>
		<key>bn_below_ba</key>
		<string>bn_below_ba.glif</string>
		<key>bn_below_ba2</key>
		<string>bn_below_ba2.glif</string>
		<key>bn_bh_ba</key>
		<string>bn_bh_ba.glif</string>
		<key>bn_bh_hasanta</key>
		<string>bn_bh_hasanta.glif</string>
		<key>bn_bh_la</key>
		<string>bn_bh_la.glif</string>
		<key>bn_bh_r_ukaar</key>
		<string>bn_bh_r_ukaar.glif</string>
		<key>bn_bh_r_uukaar</key>
		<string>bn_bh_r_uukaar.glif</string>
		<key>bn_bh_ra</key>
		<string>bn_bh_ra.glif</string>
		<key>bn_bh_ra1</key>
		<string>bn_bh_ra1.glif</string>
		<key>bn_bha</key>
		<string>bn_bha.glif</string>
		<key>bn_bhaphala</key>
		<string>bn_bhaphala.glif</string>
		<key>bn_c_ba</key>
		<string>bn_c_ba.glif</string>
		<key>bn_c_ca</key>
		<string>bn_c_ca.glif</string>
		<key>bn_c_ch_ba</key>
		<string>bn_c_ch_ba.glif</string>
		<key>bn_c_ch_ra</key>
		<string>bn_c_ch_ra.glif</string>
		<key>bn_c_cha</key>
		<string>bn_c_cha.glif</string>
		<key>bn_c_hasanta</key>
		<string>bn_c_hasanta.glif</string>
		<key>bn_c_na</key>
		<string>bn_c_na.glif</string>
		<key>bn_c_nya</key>
		<string>bn_c_nya.glif</string>
		<key>bn_c_ra</key>
		<string>bn_c_ra.glif</string>
		<key>bn_ca</key>
		<string>bn_ca.glif</string>
		<key>bn_candrabindu</key>
		<string>bn_candrabindu.glif</string>
		<key>bn_ch_ba</key>
		<string>bn_ch_ba.glif</string>
		<key>bn_ch_hasanta</key>
		<string>bn_ch_hasanta.glif</string>
		<key>bn_ch_ra</key>
		<string>bn_ch_ra.glif</string>
		<key>bn_cha</key>
		<string>bn_cha.glif</string>
		<key>bn_currency1</key>
		<string>bn_currency1.glif</string>
		<key>bn_currency16</key>
		<string>bn_currency16.glif</string>
		<key>bn_currency2</key>
		<string>bn_currency2.glif</string>
		<key>bn_currency3</key>
		<string>bn_currency3.glif</string>
		<key>bn_currency4</key>
		<string>bn_currency4.glif</string>
		<key>bn_currencyless</key>
		<string>bn_currencyless.glif</string>
		<key>bn_d_ba</key>
		<string>bn_d_ba.glif</string>
		<key>bn_d_bh_ra</key>
		<string>bn_d_bh_ra.glif</string>
		<key>bn_d_bh_ra1</key>
		<string>bn_d_bh_ra1.glif</string>
		<key>bn_d_bha</key>
		<string>bn_d_bha.glif</string>
		<key>bn_d_d_ba</key>
		<string>bn_d_d_ba.glif</string>
		<key>bn_d_d_ra</key>
		<string>bn_d_d_ra.glif</string>
		<key>bn_d_da</key>
		<string>bn_d_da.glif</string>
		<key>bn_d_dh_ba</key>
		<string>bn_d_dh_ba.glif</string>
		<key>bn_d_dha</key>
		<string>bn_d_dha.glif</string>
		<key>bn_d_ga</key>
		<string>bn_d_ga.glif</string>
		<key>bn_d_gha</key>
		<string>bn_d_gha.glif</string>
		<key>bn_d_hasanta</key>
		<string>bn_d_hasanta.glif</string>
		<key>bn_d_ma</key>
		<string>bn_d_ma.glif</string>
		<key>bn_d_na</key>
		<string>bn_d_na.glif</string>
		<key>bn_d_r_ukaar</key>
		<string>bn_d_r_ukaar.glif</string>
		<key>bn_d_r_uukaar</key>
		<string>bn_d_r_uukaar.glif</string>
		<key>bn_d_ra</key>
		<string>bn_d_ra.glif</string>
		<key>bn_d_ukaar</key>
		<string>bn_d_ukaar.glif</string>
		<key>bn_d_ya</key>
		<string>bn_d_ya.glif</string>
		<key>bn_da</key>
		<string>bn_da.glif</string>
		<key>bn_da_hal</key>
		<string>bn_da_hal.glif</string>
		<key>bn_dd_ba</key>
		<string>bn_dd_ba.glif</string>
		<key>bn_dd_dda</key>
		<string>bn_dd_dda.glif</string>
		<key>bn_dd_ga</key>
		<string>bn_dd_ga.glif</string>
		<key>bn_dd_hasanta</key>
		<string>bn_dd_hasanta.glif</string>
		<key>bn_dd_ma</key>
		<string>bn_dd_ma.glif</string>
		<key>bn_dd_ra</key>
		<string>bn_dd_ra.glif</string>
		<key>bn_dda</key>
		<string>bn_dda.glif</string>
		<key>bn_ddh_hasanta</key>
		<string>bn_ddh_hasanta.glif</string>
		<key>bn_ddh_ra</key>
		<string>bn_ddh_ra.glif</string>
		<key>bn_ddha</key>
		<string>bn_ddha.glif</string>
		<key>bn_dh_ba</key>
		<string>bn_dh_ba.glif</string>
		<key>bn_dh_ba1</key>
		<string>bn_dh_ba1.glif</string>
		<key>bn_dh_hasanta</key>
		<string>bn_dh_hasanta.glif</string>
		<key>bn_dh_ma</key>
		<string>bn_dh_ma.glif</string>
		<key>bn_dh_na</key>
		<string>bn_dh_na.glif</string>
		<key>bn_dh_r_ukaar</key>
		<string>bn_dh_r_ukaar.glif</string>
		<key>bn_dh_r_uukaar</key>
		<string>bn_dh_r_uukaar.glif</string>
		<key>bn_dh_ra</key>
		<string>bn_dh_ra.glif</string>
		<key>bn_dha</key>
		<string>bn_dha.glif</string>
		<key>bn_dhaphala</key>
		<string>bn_dhaphala.glif</string>
		<key>bn_e</key>
		<string>bn_e.glif</string>
		<key>bn_eight</key>
		<string>bn_eight.glif</string>
		<key>bn_ekaar</key>
		<string>bn_ekaar.glif</string>
		<key>bn_five</key>
		<string>bn_five.glif</string>
		<key>bn_four</key>
		<string>bn_four.glif</string>
		<key>bn_g_ba</key>
		<string>bn_g_ba.glif</string>
		<key>bn_g_da</key>
		<string>bn_g_da.glif</string>
		<key>bn_g_dh_ba</key>
		<string>bn_g_dh_ba.glif</string>
		<key>bn_g_dha</key>
		<string>bn_g_dha.glif</string>
		<key>bn_g_ga</key>
		<string>bn_g_ga.glif</string>
		<key>bn_g_hasanta</key>
		<string>bn_g_hasanta.glif</string>
		<key>bn_g_l_ukaar</key>
		<string>bn_g_l_ukaar.glif</string>
		<key>bn_g_l_uukaar</key>
		<string>bn_g_l_uukaar.glif</string>
		<key>bn_g_la</key>
		<string>bn_g_la.glif</string>
		<key>bn_g_ma</key>
		<string>bn_g_ma.glif</string>
		<key>bn_g_na</key>
		<string>bn_g_na.glif</string>
		<key>bn_g_r_ukaar</key>
		<string>bn_g_r_ukaar.glif</string>
		<key>bn_g_r_uukaar</key>
		<string>bn_g_r_uukaar.glif</string>
		<key>bn_g_ra</key>
		<string>bn_g_ra.glif</string>
		<key>bn_g_ukaar</key>
		<string>bn_g_ukaar.glif</string>
		<key>bn_ga</key>
		<string>bn_ga.glif</string>
		<key>bn_gh_ba</key>
		<string>bn_gh_ba.glif</string>
		<key>bn_gh_hasanta</key>
		<string>bn_gh_hasanta.glif</string>
		<key>bn_gh_na</key>
		<string>bn_gh_na.glif</string>
		<key>bn_gh_ra</key>
		<string>bn_gh_ra.glif</string>
		<key>bn_gha</key>
		<string>bn_gha.glif</string>
		<key>bn_h_ba</key>
		<string>bn_h_ba.glif</string>
		<key>bn_h_ba1</key>
		<string>bn_h_ba1.glif</string>
		<key>bn_h_hasanta</key>
		<string>bn_h_hasanta.glif</string>
		<key>bn_h_la</key>
		<string>bn_h_la.glif</string>
		<key>bn_h_la1</key>
		<string>bn_h_la1.glif</string>
		<key>bn_h_ma</key>
		<string>bn_h_ma.glif</string>
		<key>bn_h_na</key>
		<string>bn_h_na.glif</string>
		<key>bn_h_nna</key>
		<string>bn_h_nna.glif</string>
		<key>bn_h_ra</key>
		<string>bn_h_ra.glif</string>
		<key>bn_h_rikaar</key>
		<string>bn_h_rikaar.glif</string>
		<key>bn_h_ukaar</key>
		<string>bn_h_ukaar.glif</string>
		<key>bn_h_ya</key>
		<string>bn_h_ya.glif</string>
		<key>bn_ha</key>
		<string>bn_ha.glif</string>
		<key>bn_half_asamiba</key>
		<string>bn_half_asamiba.glif</string>
		<key>bn_half_asamira</key>
		<string>bn_half_asamira.glif</string>
		<key>bn_half_ba</key>
		<string>bn_half_ba.glif</string>
		<key>bn_half_bha</key>
		<string>bn_half_bha.glif</string>
		<key>bn_half_ca</key>
		<string>bn_half_ca.glif</string>
		<key>bn_half_ca1</key>
		<string>bn_half_ca1.glif</string>
		<key>bn_half_cha</key>
		<string>bn_half_cha.glif</string>
		<key>bn_half_da</key>
		<string>bn_half_da.glif</string>
		<key>bn_half_dda</key>
		<string>bn_half_dda.glif</string>
		<key>bn_half_ddha</key>
		<string>bn_half_ddha.glif</string>
		<key>bn_half_dha</key>
		<string>bn_half_dha.glif</string>
		<key>bn_half_ga</key>
		<string>bn_half_ga.glif</string>
		<key>bn_half_gha</key>
		<string>bn_half_gha.glif</string>
		<key>bn_half_ha</key>
		<string>bn_half_ha.glif</string>
		<key>bn_half_ja</key>
		<string>bn_half_ja.glif</string>
		<key>bn_half_jha</key>
		<string>bn_half_jha.glif</string>
		<key>bn_half_ka</key>
		<string>bn_half_ka.glif</string>
		<key>bn_half_kha</key>
		<string>bn_half_kha.glif</string>
		<key>bn_half_la</key>
		<string>bn_half_la.glif</string>
		<key>bn_half_ma</key>
		<string>bn_half_ma.glif</string>
		<key>bn_half_na</key>
		<string>bn_half_na.glif</string>
		<key>bn_half_nga</key>
		<string>bn_half_nga.glif</string>
		<key>bn_half_nna</key>
		<string>bn_half_nna.glif</string>
		<key>bn_half_nya</key>
		<string>bn_half_nya.glif</string>
		<key>bn_half_pa</key>
		<string>bn_half_pa.glif</string>
		<key>bn_half_pha</key>
		<string>bn_half_pha.glif</string>
		<key>bn_half_ra</key>
		<string>bn_half_ra.glif</string>
		<key>bn_half_rha</key>
		<string>bn_half_rha.glif</string>
		<key>bn_half_rra</key>
		<string>bn_half_rra.glif</string>
		<key>bn_half_sa</key>
		<string>bn_half_sa.glif</string>
		<key>bn_half_sha</key>
		<string>bn_half_sha.glif</string>
		<key>bn_half_ssa</key>
		<string>bn_half_ssa.glif</string>
		<key>bn_half_ta</key>
		<string>bn_half_ta.glif</string>
		<key>bn_half_tha</key>
		<string>bn_half_tha.glif</string>
		<key>bn_half_tta</key>
		<string>bn_half_tta.glif</string>
		<key>bn_half_ttha</key>
		<string>bn_half_ttha.glif</string>
		<key>bn_half_ya</key>
		<string>bn_half_ya.glif</string>
		<key>bn_half_yya</key>
		<string>bn_half_yya.glif</string>
		<key>bn_hasanta</key>
		<string>bn_hasanta.glif</string>
		<key>bn_i</key>
		<string>bn_i.glif</string>
		<key>bn_ii</key>
		<string>bn_ii.glif</string>
		<key>bn_iikaar</key>
		<string>bn_iikaar.glif</string>
		<key>bn_ikaar</key>
		<string>bn_ikaar.glif</string>
		<key>bn_initaikaar</key>
		<string>bn_initaikaar.glif</string>
		<key>bn_initekaar</key>
		<string>bn_initekaar.glif</string>
		<key>bn_isshar</key>
		<string>bn_isshar.glif</string>
		<key>bn_j_ba</key>
		<string>bn_j_ba.glif</string>
		<key>bn_j_hasanta</key>
		<string>bn_j_hasanta.glif</string>
		<key>bn_j_j_ba</key>
		<string>bn_j_j_ba.glif</string>
		<key>bn_j_ja</key>
		<string>bn_j_ja.glif</string>
		<key>bn_j_jha</key>
		<string>bn_j_jha.glif</string>
		<key>bn_j_nya</key>
		<string>bn_j_nya.glif</string>
		<key>bn_j_r_ukaar</key>
		<string>bn_j_r_ukaar.glif</string>
		<key>bn_j_r_uukaar</key>
		<string>bn_j_r_uukaar.glif</string>
		<key>bn_j_ra</key>
		<string>bn_j_ra.glif</string>
		<key>bn_ja</key>
		<string>bn_ja.glif</string>
		<key>bn_jh_hasanta</key>
		<string>bn_jh_hasanta.glif</string>
		<key>bn_jha</key>
		<string>bn_jha.glif</string>
		<key>bn_k_ba</key>
		<string>bn_k_ba.glif</string>
		<key>bn_k_hasanta</key>
		<string>bn_k_hasanta.glif</string>
		<key>bn_k_ka</key>
		<string>bn_k_ka.glif</string>
		<key>bn_k_la</key>
		<string>bn_k_la.glif</string>
		<key>bn_k_ma</key>
		<string>bn_k_ma.glif</string>
		<key>bn_k_na</key>
		<string>bn_k_na.glif</string>
		<key>bn_k_ra</key>
		<string>bn_k_ra.glif</string>
		<key>bn_k_ra1</key>
		<string>bn_k_ra1.glif</string>
		<key>bn_k_sa</key>
		<string>bn_k_sa.glif</string>
		<key>bn_k_ss_ba</key>
		<string>bn_k_ss_ba.glif</string>
		<key>bn_k_ss_ma</key>
		<string>bn_k_ss_ma.glif</string>
		<key>bn_k_ss_na</key>
		<string>bn_k_ss_na.glif</string>
		<key>bn_k_ss_nna</key>
		<string>bn_k_ss_nna.glif</string>
		<key>bn_k_ss_ra</key>
		<string>bn_k_ss_ra.glif</string>
		<key>bn_k_ssa</key>
		<string>bn_k_ssa.glif</string>
		<key>bn_k_ssa_bn_hasanta</key>
		<string>bn_k_ssa_bn_hasanta.glif</string>
		<key>bn_k_t_ba</key>
		<string>bn_k_t_ba.glif</string>
		<key>bn_k_t_ba1</key>
		<string>bn_k_t_ba1.glif</string>
		<key>bn_k_t_ra</key>
		<string>bn_k_t_ra.glif</string>
		<key>bn_k_t_ra1</key>
		<string>bn_k_t_ra1.glif</string>
		<key>bn_k_t_ra2</key>
		<string>bn_k_t_ra2.glif</string>
		<key>bn_k_ta</key>
		<string>bn_k_ta.glif</string>
		<key>bn_k_ta1</key>
		<string>bn_k_ta1.glif</string>
		<key>bn_k_tt_ra</key>
		<string>bn_k_tt_ra.glif</string>
		<key>bn_k_tta</key>
		<string>bn_k_tta.glif</string>
		<key>bn_ka</key>
		<string>bn_ka.glif</string>
		<key>bn_kaphala</key>
		<string>bn_kaphala.glif</string>
		<key>bn_kh_hasanta</key>
		<string>bn_kh_hasanta.glif</string>
		<key>bn_kh_r_ukaar</key>
		<string>bn_kh_r_ukaar.glif</string>
		<key>bn_kh_r_uukaar</key>
		<string>bn_kh_r_uukaar.glif</string>
		<key>bn_kh_ra</key>
		<string>bn_kh_ra.glif</string>
		<key>bn_kha</key>
		<string>bn_kha.glif</string>
		<key>bn_khaphala</key>
		<string>bn_khaphala.glif</string>
		<key>bn_l_ba</key>
		<string>bn_l_ba.glif</string>
		<key>bn_l_da</key>
		<string>bn_l_da.glif</string>
		<key>bn_l_dd_ra</key>
		<string>bn_l_dd_ra.glif</string>
		<key>bn_l_dda</key>
		<string>bn_l_dda.glif</string>
		<key>bn_l_dha</key>
		<string>bn_l_dha.glif</string>
		<key>bn_l_g_ukaar</key>
		<string>bn_l_g_ukaar.glif</string>
		<key>bn_l_ga</key>
		<string>bn_l_ga.glif</string>
		<key>bn_l_hasanta</key>
		<string>bn_l_hasanta.glif</string>
		<key>bn_l_ka</key>
		<string>bn_l_ka.glif</string>
		<key>bn_l_la</key>
		<string>bn_l_la.glif</string>
		<key>bn_l_ma</key>
		<string>bn_l_ma.glif</string>
		<key>bn_l_pa</key>
		<string>bn_l_pa.glif</string>
		<key>bn_l_ph_ra</key>
		<string>bn_l_ph_ra.glif</string>
		<key>bn_l_pha</key>
		<string>bn_l_pha.glif</string>
		<key>bn_l_ta</key>
		<string>bn_l_ta.glif</string>
		<key>bn_l_tt_ra</key>
		<string>bn_l_tt_ra.glif</string>
		<key>bn_l_tta</key>
		<string>bn_l_tta.glif</string>
		<key>bn_la</key>
		<string>bn_la.glif</string>
		<key>bn_la.001</key>
		<string>bn_la.001.glif</string>
		<key>bn_laphala</key>
		<string>bn_laphala.glif</string>
		<key>bn_li</key>
		<string>bn_li.glif</string>
		<key>bn_likaar</key>
		<string>bn_likaar.glif</string>
		<key>bn_lli</key>
		<string>bn_lli.glif</string>
		<key>bn_llikaar</key>
		<string>bn_llikaar.glif</string>
		<key>bn_m_b_ra</key>
		<string>bn_m_b_ra.glif</string>
		<key>bn_m_b_ra1</key>
		<string>bn_m_b_ra1.glif</string>
		<key>bn_m_ba</key>
		<string>bn_m_ba.glif</string>
		<key>bn_m_ba1</key>
		<string>bn_m_ba1.glif</string>
		<key>bn_m_bh_ra</key>
		<string>bn_m_bh_ra.glif</string>
		<key>bn_m_bh_ra1</key>
		<string>bn_m_bh_ra1.glif</string>
		<key>bn_m_bha</key>
		<string>bn_m_bha.glif</string>
		<key>bn_m_da</key>
		<string>bn_m_da.glif</string>
		<key>bn_m_hasanta</key>
		<string>bn_m_hasanta.glif</string>
		<key>bn_m_la</key>
		<string>bn_m_la.glif</string>
		<key>bn_m_la1</key>
		<string>bn_m_la1.glif</string>
		<key>bn_m_ma</key>
		<string>bn_m_ma.glif</string>
		<key>bn_m_ma1</key>
		<string>bn_m_ma1.glif</string>
		<key>bn_m_na</key>
		<string>bn_m_na.glif</string>
		<key>bn_m_na1</key>
		<string>bn_m_na1.glif</string>
		<key>bn_m_p_la</key>
		<string>bn_m_p_la.glif</string>
		<key>bn_m_p_r_ukaar</key>
		<string>bn_m_p_r_ukaar.glif</string>
		<key>bn_m_p_r_uukaar</key>
		<string>bn_m_p_r_uukaar.glif</string>
		<key>bn_m_p_ra</key>
		<string>bn_m_p_ra.glif</string>
		<key>bn_m_pa</key>
		<string>bn_m_pa.glif</string>
		<key>bn_m_ph_ra</key>
		<string>bn_m_ph_ra.glif</string>
		<key>bn_m_pha</key>
		<string>bn_m_pha.glif</string>
		<key>bn_m_r_ukaar</key>
		<string>bn_m_r_ukaar.glif</string>
		<key>bn_m_r_uukaar</key>
		<string>bn_m_r_uukaar.glif</string>
		<key>bn_m_ra</key>
		<string>bn_m_ra.glif</string>
		<key>bn_m_s_ra</key>
		<string>bn_m_s_ra.glif</string>
		<key>bn_m_sa</key>
		<string>bn_m_sa.glif</string>
		<key>bn_m_ta</key>
		<string>bn_m_ta.glif</string>
		<key>bn_m_tha</key>
		<string>bn_m_tha.glif</string>
		<key>bn_ma</key>
		<string>bn_ma.glif</string>
		<key>bn_maphala</key>
		<string>bn_maphala.glif</string>
		<key>bn_maphala1</key>
		<string>bn_maphala1.glif</string>
		<key>bn_n_ba</key>
		<string>bn_n_ba.glif</string>
		<key>bn_n_ba1</key>
		<string>bn_n_ba1.glif</string>
		<key>bn_n_d_ba</key>
		<string>bn_n_d_ba.glif</string>
		<key>bn_n_d_r_ukaar</key>
		<string>bn_n_d_r_ukaar.glif</string>
		<key>bn_n_d_r_uukaar</key>
		<string>bn_n_d_r_uukaar.glif</string>
		<key>bn_n_d_ra</key>
		<string>bn_n_d_ra.glif</string>
		<key>bn_n_da</key>
		<string>bn_n_da.glif</string>
		<key>bn_n_dd_ra</key>
		<string>bn_n_dd_ra.glif</string>
		<key>bn_n_dda</key>
		<string>bn_n_dda.glif</string>
		<key>bn_n_ddha</key>
		<string>bn_n_ddha.glif</string>
		<key>bn_n_dh_ba</key>
		<string>bn_n_dh_ba.glif</string>
		<key>bn_n_dh_ra</key>
		<string>bn_n_dh_ra.glif</string>
		<key>bn_n_dha</key>
		<string>bn_n_dha.glif</string>
		<key>bn_n_hasanta</key>
		<string>bn_n_hasanta.glif</string>
		<key>bn_n_ma</key>
		<string>bn_n_ma.glif</string>
		<key>bn_n_ma1</key>
		<string>bn_n_ma1.glif</string>
		<key>bn_n_na</key>
		<string>bn_n_na.glif</string>
		<key>bn_n_ra</key>
		<string>bn_n_ra.glif</string>
		<key>bn_n_ra1</key>
		<string>bn_n_ra1.glif</string>
		<key>bn_n_rikaar</key>
		<string>bn_n_rikaar.glif</string>
		<key>bn_n_sa</key>
		<string>bn_n_sa.glif</string>
		<key>bn_n_t_ba</key>
		<string>bn_n_t_ba.glif</string>
		<key>bn_n_t_ra</key>
		<string>bn_n_t_ra.glif</string>
		<key>bn_n_t_ra1</key>
		<string>bn_n_t_ra1.glif</string>
		<key>bn_n_t_ukaar</key>
		<string>bn_n_t_ukaar.glif</string>
		<key>bn_n_ta</key>
		<string>bn_n_ta.glif</string>
		<key>bn_n_tha</key>
		<string>bn_n_tha.glif</string>
		<key>bn_n_tt_ra</key>
		<string>bn_n_tt_ra.glif</string>
		<key>bn_n_tta</key>
		<string>bn_n_tta.glif</string>
		<key>bn_n_ttha</key>
		<string>bn_n_ttha.glif</string>
		<key>bn_n_ukaar</key>
		<string>bn_n_ukaar.glif</string>
		<key>bn_n_uukaar</key>
		<string>bn_n_uukaar.glif</string>
		<key>bn_n_ya</key>
		<string>bn_n_ya.glif</string>
		<key>bn_na</key>
		<string>bn_na.glif</string>
		<key>bn_naphala</key>
		<string>bn_naphala.glif</string>
		<key>bn_ng_ga</key>
		<string>bn_ng_ga.glif</string>
		<key>bn_ng_gh_ra</key>
		<string>bn_ng_gh_ra.glif</string>
		<key>bn_ng_gha</key>
		<string>bn_ng_gha.glif</string>
		<key>bn_ng_hasanta</key>
		<string>bn_ng_hasanta.glif</string>
		<key>bn_ng_k_ra</key>
		<string>bn_ng_k_ra.glif</string>
		<key>bn_ng_k_ss_ra</key>
		<string>bn_ng_k_ss_ra.glif</string>
		<key>bn_ng_k_ssa</key>
		<string>bn_ng_k_ssa.glif</string>
		<key>bn_ng_ka</key>
		<string>bn_ng_ka.glif</string>
		<key>bn_ng_kha</key>
		<string>bn_ng_kha.glif</string>
		<key>bn_ng_ma</key>
		<string>bn_ng_ma.glif</string>
		<key>bn_ng_ma1</key>
		<string>bn_ng_ma1.glif</string>
		<key>bn_nga</key>
		<string>bn_nga.glif</string>
		<key>bn_nine</key>
		<string>bn_nine.glif</string>
		<key>bn_nn_ba</key>
		<string>bn_nn_ba.glif</string>
		<key>bn_nn_dd_ra</key>
		<string>bn_nn_dd_ra.glif</string>
		<key>bn_nn_dd_ra1</key>
		<string>bn_nn_dd_ra1.glif</string>
		<key>bn_nn_dda</key>
		<string>bn_nn_dda.glif</string>
		<key>bn_nn_dda1</key>
		<string>bn_nn_dda1.glif</string>
		<key>bn_nn_ddha</key>
		<string>bn_nn_ddha.glif</string>
		<key>bn_nn_hasanta</key>
		<string>bn_nn_hasanta.glif</string>
		<key>bn_nn_ma</key>
		<string>bn_nn_ma.glif</string>
		<key>bn_nn_na</key>
		<string>bn_nn_na.glif</string>
		<key>bn_nn_nna</key>
		<string>bn_nn_nna.glif</string>
		<key>bn_nn_tt_ra</key>
		<string>bn_nn_tt_ra.glif</string>
		<key>bn_nn_tta</key>
		<string>bn_nn_tta.glif</string>
		<key>bn_nn_ttha</key>
		<string>bn_nn_ttha.glif</string>
		<key>bn_nna</key>
		<string>bn_nna.glif</string>
		<key>bn_nnaphala</key>
		<string>bn_nnaphala.glif</string>
		<key>bn_nukta</key>
		<string>bn_nukta.glif</string>
		<key>bn_ny_ca</key>
		<string>bn_ny_ca.glif</string>
		<key>bn_ny_cha</key>
		<string>bn_ny_cha.glif</string>
		<key>bn_ny_hasanta</key>
		<string>bn_ny_hasanta.glif</string>
		<key>bn_ny_ja</key>
		<string>bn_ny_ja.glif</string>
		<key>bn_ny_jha</key>
		<string>bn_ny_jha.glif</string>
		<key>bn_nya</key>
		<string>bn_nya.glif</string>
		<key>bn_o</key>
		<string>bn_o.glif</string>
		<key>bn_okaar</key>
		<string>bn_okaar.glif</string>
		<key>bn_one</key>
		<string>bn_one.glif</string>
		<key>bn_p_ba</key>
		<string>bn_p_ba.glif</string>
		<key>bn_p_hasanta</key>
		<string>bn_p_hasanta.glif</string>
		<key>bn_p_l_ukaar</key>
		<string>bn_p_l_ukaar.glif</string>
		<key>bn_p_l_uukaar</key>
		<string>bn_p_l_uukaar.glif</string>
		<key>bn_p_la</key>
		<string>bn_p_la.glif</string>
		<key>bn_p_ma</key>
		<string>bn_p_ma.glif</string>
		<key>bn_p_na</key>
		<string>bn_p_na.glif</string>
		<key>bn_p_pa</key>
		<string>bn_p_pa.glif</string>
		<key>bn_p_r_ukaar</key>
		<string>bn_p_r_ukaar.glif</string>
		<key>bn_p_r_uukaar</key>
		<string>bn_p_r_uukaar.glif</string>
		<key>bn_p_ra</key>
		<string>bn_p_ra.glif</string>
		<key>bn_p_sa</key>
		<string>bn_p_sa.glif</string>
		<key>bn_p_ta</key>
		<string>bn_p_ta.glif</string>
		<key>bn_p_tta</key>
		<string>bn_p_tta.glif</string>
		<key>bn_pa</key>
		<string>bn_pa.glif</string>
		<key>bn_ph_hasanta</key>
		<string>bn_ph_hasanta.glif</string>
		<key>bn_ph_la</key>
		<string>bn_ph_la.glif</string>
		<key>bn_ph_ra</key>
		<string>bn_ph_ra.glif</string>
		<key>bn_ph_tta</key>
		<string>bn_ph_tta.glif</string>
		<key>bn_pha</key>
		<string>bn_pha.glif</string>
		<key>bn_phaphala</key>
		<string>bn_phaphala.glif</string>
		<key>bn_post_k_ra</key>
		<string>bn_post_k_ra.glif</string>
		<key>bn_r_hasanta</key>
		<string>bn_r_hasanta.glif</string>
		<key>bn_r_ukaar</key>
		<string>bn_r_ukaar.glif</string>
		<key>bn_r_uukaar</key>
		<string>bn_r_uukaar.glif</string>
		<key>bn_ra</key>
		<string>bn_ra.glif</string>
		<key>bn_ra_bn_hasanta</key>
		<string>bn_ra_bn_hasanta.glif</string>
		<key>bn_raphala</key>
		<string>bn_raphala.glif</string>
		<key>bn_reph</key>
		<string>bn_reph.glif</string>
		<key>bn_rh_hasanta</key>
		<string>bn_rh_hasanta.glif</string>
		<key>bn_rha</key>
		<string>bn_rha.glif</string>
		<key>bn_ri</key>
		<string>bn_ri.glif</string>
		<key>bn_rikaar</key>
		<string>bn_rikaar.glif</string>
		<key>bn_rr_ga</key>
		<string>bn_rr_ga.glif</string>
		<key>bn_rr_hasanta</key>
		<string>bn_rr_hasanta.glif</string>
		<key>bn_rra</key>
		<string>bn_rra.glif</string>
		<key>bn_rri</key>
		<string>bn_rri.glif</string>
		<key>bn_rrikaar</key>
		<string>bn_rrikaar.glif</string>
		<key>bn_rupeemark</key>
		<string>bn_rupeemark.glif</string>
		<key>bn_rupeesign</key>
		<string>bn_rupeesign.glif</string>
		<key>bn_s_ba</key>
		<string>bn_s_ba.glif</string>
		<key>bn_s_ba1</key>
		<string>bn_s_ba1.glif</string>
		<key>bn_s_hasanta</key>
		<string>bn_s_hasanta.glif</string>
		<key>bn_s_k_la</key>
		<string>bn_s_k_la.glif</string>
		<key>bn_s_k_ra</key>
		<string>bn_s_k_ra.glif</string>
		<key>bn_s_k_ra1</key>
		<string>bn_s_k_ra1.glif</string>
		<key>bn_s_ka</key>
		<string>bn_s_ka.glif</string>
		<key>bn_s_kha</key>
		<string>bn_s_kha.glif</string>
		<key>bn_s_l_ukaar</key>
		<string>bn_s_l_ukaar.glif</string>
		<key>bn_s_l_uukaar</key>
		<string>bn_s_l_uukaar.glif</string>
		<key>bn_s_la</key>
		<string>bn_s_la.glif</string>
		<key>bn_s_la1</key>
		<string>bn_s_la1.glif</string>
		<key>bn_s_ma</key>
		<string>bn_s_ma.glif</string>
		<key>bn_s_ma1</key>
		<string>bn_s_ma1.glif</string>
		<key>bn_s_na</key>
		<string>bn_s_na.glif</string>
		<key>bn_s_na1</key>
		<string>bn_s_na1.glif</string>
		<key>bn_s_p_l_ukaar</key>
		<string>bn_s_p_l_ukaar.glif</string>
		<key>bn_s_p_l_uukaar</key>
		<string>bn_s_p_l_uukaar.glif</string>
		<key>bn_s_p_la</key>
		<string>bn_s_p_la.glif</string>
		<key>bn_s_p_r_ukaar</key>
		<string>bn_s_p_r_ukaar.glif</string>
		<key>bn_s_p_r_uukaar</key>
		<string>bn_s_p_r_uukaar.glif</string>
		<key>bn_s_p_ra</key>
		<string>bn_s_p_ra.glif</string>
		<key>bn_s_pa</key>
		<string>bn_s_pa.glif</string>
		<key>bn_s_ph_ra</key>
		<string>bn_s_ph_ra.glif</string>
		<key>bn_s_pha</key>
		<string>bn_s_pha.glif</string>
		<key>bn_s_r_ukaar</key>
		<string>bn_s_r_ukaar.glif</string>
		<key>bn_s_r_uukaar</key>
		<string>bn_s_r_uukaar.glif</string>
		<key>bn_s_ra</key>
		<string>bn_s_ra.glif</string>
		<key>bn_s_ra1</key>
		<string>bn_s_ra1.glif</string>
		<key>bn_s_rikaar</key>
		<string>bn_s_rikaar.glif</string>
		<key>bn_s_t_ba</key>
		<string>bn_s_t_ba.glif</string>
		<key>bn_s_t_ra</key>
		<string>bn_s_t_ra.glif</string>
		<key>bn_s_t_ra1</key>
		<string>bn_s_t_ra1.glif</string>
		<key>bn_s_t_ukaar</key>
		<string>bn_s_t_ukaar.glif</string>
		<key>bn_s_ta</key>
		<string>bn_s_ta.glif</string>
		<key>bn_s_tha</key>
		<string>bn_s_tha.glif</string>
		<key>bn_s_tt_ra</key>
		<string>bn_s_tt_ra.glif</string>
		<key>bn_s_tt_ra1</key>
		<string>bn_s_tt_ra1.glif</string>
		<key>bn_s_tta</key>
		<string>bn_s_tta.glif</string>
		<key>bn_s_tta1</key>
		<string>bn_s_tta1.glif</string>
		<key>bn_s_ukaar</key>
		<string>bn_s_ukaar.glif</string>
		<key>bn_s_uukaar</key>
		<string>bn_s_uukaar.glif</string>
		<key>bn_s_ya</key>
		<string>bn_s_ya.glif</string>
		<key>bn_sa</key>
		<string>bn_sa.glif</string>
		<key>bn_seven</key>
		<string>bn_seven.glif</string>
		<key>bn_sh_ba</key>
		<string>bn_sh_ba.glif</string>
		<key>bn_sh_ca</key>
		<string>bn_sh_ca.glif</string>
		<key>bn_sh_cha</key>
		<string>bn_sh_cha.glif</string>
		<key>bn_sh_hasanta</key>
		<string>bn_sh_hasanta.glif</string>
		<key>bn_sh_l_ukaar</key>
		<string>bn_sh_l_ukaar.glif</string>
		<key>bn_sh_l_uukaar</key>
		<string>bn_sh_l_uukaar.glif</string>
		<key>bn_sh_la</key>
		<string>bn_sh_la.glif</string>
		<key>bn_sh_ma</key>
		<string>bn_sh_ma.glif</string>
		<key>bn_sh_na</key>
		<string>bn_sh_na.glif</string>
		<key>bn_sh_r_ukaar</key>
		<string>bn_sh_r_ukaar.glif</string>
		<key>bn_sh_r_uukaar</key>
		<string>bn_sh_r_uukaar.glif</string>
		<key>bn_sh_ra</key>
		<string>bn_sh_ra.glif</string>
		<key>bn_sh_ra.001</key>
		<string>bn_sh_ra.001.glif</string>
		<key>bn_sh_ta</key>
		<string>bn_sh_ta.glif</string>
		<key>bn_sh_ukaar</key>
		<string>bn_sh_ukaar.glif</string>
		<key>bn_sh_ya</key>
		<string>bn_sh_ya.glif</string>
		<key>bn_sha</key>
		<string>bn_sha.glif</string>
		<key>bn_six</key>
		<string>bn_six.glif</string>
		<key>bn_ss_hasanta</key>
		<string>bn_ss_hasanta.glif</string>
		<key>bn_ss_k_ra</key>
		<string>bn_ss_k_ra.glif</string>
		<key>bn_ss_k_ra1</key>
		<string>bn_ss_k_ra1.glif</string>
		<key>bn_ss_ka</key>
		<string>bn_ss_ka.glif</string>
		<key>bn_ss_ma</key>
		<string>bn_ss_ma.glif</string>
		<key>bn_ss_ma1</key>
		<string>bn_ss_ma1.glif</string>
		<key>bn_ss_nna</key>
		<string>bn_ss_nna.glif</string>
		<key>bn_ss_p_r_ukaar</key>
		<string>bn_ss_p_r_ukaar.glif</string>
		<key>bn_ss_p_r_uukaar</key>
		<string>bn_ss_p_r_uukaar.glif</string>
		<key>bn_ss_p_ra</key>
		<string>bn_ss_p_ra.glif</string>
		<key>bn_ss_pa</key>
		<string>bn_ss_pa.glif</string>
		<key>bn_ss_ph_ra</key>
		<string>bn_ss_ph_ra.glif</string>
		<key>bn_ss_pha</key>
		<string>bn_ss_pha.glif</string>
		<key>bn_ss_ra</key>
		<string>bn_ss_ra.glif</string>
		<key>bn_ss_tt_ra</key>
		<string>bn_ss_tt_ra.glif</string>
		<key>bn_ss_tt_ra1</key>
		<string>bn_ss_tt_ra1.glif</string>
		<key>bn_ss_tta</key>
		<string>bn_ss_tta.glif</string>
		<key>bn_ss_tta.002</key>
		<string>bn_ss_tta.002.glif</string>
		<key>bn_ss_tta1</key>
		<string>bn_ss_tta1.glif</string>
		<key>bn_ss_ttha</key>
		<string>bn_ss_ttha.glif</string>
		<key>bn_ss_ya</key>
		<string>bn_ss_ya.glif</string>
		<key>bn_ssa</key>
		<string>bn_ssa.glif</string>
		<key>bn_t_ba</key>
		<string>bn_t_ba.glif</string>
		<key>bn_t_hasanta</key>
		<string>bn_t_hasanta.glif</string>
		<key>bn_t_la</key>
		<string>bn_t_la.glif</string>
		<key>bn_t_ma</key>
		<string>bn_t_ma.glif</string>
		<key>bn_t_ma1</key>
		<string>bn_t_ma1.glif</string>
		<key>bn_t_na</key>
		<string>bn_t_na.glif</string>
		<key>bn_t_r_ukaar</key>
		<string>bn_t_r_ukaar.glif</string>
		<key>bn_t_r_uukaar</key>
		<string>bn_t_r_uukaar.glif</string>
		<key>bn_t_ra</key>
		<string>bn_t_ra.glif</string>
		<key>bn_t_ra1</key>
		<string>bn_t_ra1.glif</string>
		<key>bn_t_t_ba</key>
		<string>bn_t_t_ba.glif</string>
		<key>bn_t_ta</key>
		<string>bn_t_ta.glif</string>
		<key>bn_t_tha</key>
		<string>bn_t_tha.glif</string>
		<key>bn_ta</key>
		<string>bn_ta.glif</string>
		<key>bn_taphala</key>
		<string>bn_taphala.glif</string>
		<key>bn_th_ba</key>
		<string>bn_th_ba.glif</string>
		<key>bn_th_hasanta</key>
		<string>bn_th_hasanta.glif</string>
		<key>bn_th_r_ukaar</key>
		<string>bn_th_r_ukaar.glif</string>
		<key>bn_th_r_uukaar</key>
		<string>bn_th_r_uukaar.glif</string>
		<key>bn_th_ra</key>
		<string>bn_th_ra.glif</string>
		<key>bn_tha</key>
		<string>bn_tha.glif</string>
		<key>bn_thaphala</key>
		<string>bn_thaphala.glif</string>
		<key>bn_thaphala1</key>
		<string>bn_thaphala1.glif</string>
		<key>bn_three</key>
		<string>bn_three.glif</string>
		<key>bn_tt_ba</key>
		<string>bn_tt_ba.glif</string>
		<key>bn_tt_hasanta</key>
		<string>bn_tt_hasanta.glif</string>
		<key>bn_tt_ma</key>
		<string>bn_tt_ma.glif</string>
		<key>bn_tt_ra</key>
		<string>bn_tt_ra.glif</string>
		<key>bn_tt_tt_ra</key>
		<string>bn_tt_tt_ra.glif</string>
		<key>bn_tt_tta</key>
		<string>bn_tt_tta.glif</string>
		<key>bn_tta</key>
		<string>bn_tta.glif</string>
		<key>bn_tth_hasanta</key>
		<string>bn_tth_hasanta.glif</string>
		<key>bn_tth_ra</key>
		<string>bn_tth_ra.glif</string>
		<key>bn_ttha</key>
		<string>bn_ttha.glif</string>
		<key>bn_two</key>
		<string>bn_two.glif</string>
		<key>bn_u</key>
		<string>bn_u.glif</string>
		<key>bn_ukaar</key>
		<string>bn_ukaar.glif</string>
		<key>bn_uu</key>
		<string>bn_uu.glif</string>
		<key>bn_uukaar</key>
		<string>bn_uukaar.glif</string>
		<key>bn_uukaar.1</key>
		<string>bn_uukaar.1.glif</string>
		<key>bn_visarga</key>
		<string>bn_visarga.glif</string>
		<key>bn_y_hasanta</key>
		<string>bn_y_hasanta.glif</string>
		<key>bn_y_ra</key>
		<string>bn_y_ra.glif</string>
		<key>bn_ya</key>
		<string>bn_ya.glif</string>
		<key>bn_yaphala</key>
		<string>bn_yaphala.glif</string>
		<key>bn_yaphala.002</key>
		<string>bn_yaphala.002.glif</string>
		<key>bn_yy_hasanta</key>
		<string>bn_yy_hasanta.glif</string>
		<key>bn_yya</key>
		<string>bn_yya.glif</string>
		<key>bn_zero</key>
		<string>bn_zero.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>colon</key>
		<string>colon.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>danda</key>
		<string>danda.glif</string>
		<key>dottedcircle</key>
		<string>dottedcircle.glif</string>
		<key>doubledanda</key>
		<string>doubledanda.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>emdash.1</key>
		<string>emdash.1.glif</string>
		<key>endash</key>
		<string>endash.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>greater</key>
		<string>greater.glif</string>
		<key>hyphen</key>
		<string>hyphen.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>nbspace</key>
		<string>nbspace.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>quotedbl</key>
		<string>quotedbl.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>quotedblright</key>
		<string>quotedblright.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>quotesingle</key>
		<string>quotesingle.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>space</key>
		<string>space.glif</string>
	</dict>
</plist>
